// font_family //
$Josefin_Sans: "Josefin Sans", sans-serif;
$Aleo: "Aleo", serif;

// font-size //
$fs-48: 48px;
$fs-36: 36px;
$fs-24: 24px;
$fs-22: 22px;
$fz-20: 20px;
$fs-14: 14px;
$fs-16: 16px;

$fs-24-calc: calc(14px + 10 * ((100vw - 320px) / 1450));

// color //
$blue: rgba(84, 116, 253, 1);
$peach: rgba(238, 95, 95, 1);
$blue_quotes: rgba(81, 110, 233, 1);

// transparent //
$tt-upper: uppercase;
